.field{
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: auto;
    width: 500px;
    margin: auto;
  }

  &__btn{
    width: fit-content;
    margin: auto;
  }
}

