@import "Helpers/mainFont";
@import "Helpers/reset";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Apple SD Gothic Neo"
}

.btn {
  width: 20%;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s all;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;

  &__form{
    width: 80%;
    margin: 0 10%;
  }
  &__blue {
    background: #00619D;
    color: white;
    border: 1px solid black;
    &:hover {
      background: white;
      color: black;
      border: 1px solid black;
    }
  }
}

.blur{
  filter:blur(5px);
}