.card{
  &__main{
    height: 100%;
    width: 100%;
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  &__thumbnail{
    position: relative;
    width: 100%;
    height: auto;
  }
  &__content{
    display: flex;
    height: fit-content;
    padding: 10px 20px;
  }
}
.thumbnail__img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    aspect-ratio: 1/1;
}

.btn__wishlist{
  border:none;
  background: none;
  position: absolute;
  top:10px;
  right: 10px;
  img{
    width: 20px;
  }
}

.content{
  &__title{
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__type{
    opacity: 70%;
    font-style: italic;
  }
  &__capacity{
    opacity: 70%;
    font-style: italic;
  }
  &__price{
    font-size:1.1em;
    margin-top: 5px;
    span{
      font-weight:700;
    }
    font-weight: lighter;
  }
  &__rate{
    font-size: smaller;
    margin-left: auto;
  }
}