.header {
  &__main {
    padding: 20px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: rgba(192,192,192,0.5) solid 1px;
  }
  &__logo {
    padding-left:20px;
    img {
      margin: 0 30px;
      width: 110px;
    }
  }

  &__menu{
    position: relative;
    margin:0 10px;
  }
}

.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
}

.modal {
  &__button {
    background: white;
    padding: 5px 5px 5px 12px;
    margin-right: 10px;
    border: rgba(192, 192, 192, 0.7) solid 1px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    align-items: center;

    &:hover {
      transition: 400ms;
      box-shadow: 0px 4px 5px rgba(192, 192, 192, 0.7);
    }
  }
}
.img__menu{
  width: 16px;
  height: 16px;
  margin: 0;
}

.img__profil{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}