.header {
  &__main {
    padding: 20px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: rgba(192,192,192,0.5) solid 1px;
  }
  &__logo {
    padding-left:20px;
    img {
      margin: 0 30px;
      width: 120px;
    }
  }

  &__menu{
    margin:0 10px;
  }
}

.nav{
  &__list{
    display: flex;
  }

  &__item{
    margin: 0 10px;
    a {
      text-decoration: none;
    }
    a:visited{
      color: initial;
    }
  }
  &__item:hover{
    transition: 0.3s;
    transform: scale(1.2, 1.2);
  }
}