.overlay{
  z-index: 2000 ;
  position: fixed ;
  inset: 0px ;
  overflow-y: auto ;
  background: rgba(34, 34, 34, 0.7) ;
}

.modal{
  &__main{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px !important;
    width: 50vw;
    height: 90vh;
    background-color: white;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__header{
    -webkit-box-pack: justify ;
    -webkit-box-align: center ;
    display: flex ;
    flex: 0 0 auto ;
    align-items: center ;
    justify-content: space-between ;
    padding: 6px 24px ;
    min-height: 50px ;
    border-bottom: 1px solid rgb(235, 235, 235) ;
    color: rgb(34, 34, 34) ;
    font-size: 25px ;
    font-weight: 800 ;
    div{
      -webkit-box-flex: 0 ;
      flex: 0 0 20px ;
      text-align: center ;
      img{
        width: 10px;
        vertical-align: middle;
        margin: 0px;
        padding: 0px;
      }
    }
    h1{
      -webkit-box-flex: 0 ;
      overflow: hidden ;
      flex: 0 1 auto ;
      text-align: center ;
      margin-left: 16px ;
      margin-right: 16px ;
    }
  }

  &__footer{
    -webkit-box-pack: justify ;
    -webkit-box-align: center ;
    display: flex ;
    flex: 0 0 auto ;
    align-items: center ;
    justify-content: space-between ;
    padding: 14px ;
    min-height: 48px ;
    border-top: 1px solid rgb(235, 235, 235) ;
    color: rgb(34, 34, 34) ;
    font-size: 18px ;
    line-height: 20px;
    div{
      font-weight: 400;
      text-align: center ;
      padding: 10px;
    }

    .clearBtn {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        border-radius: 5px;
        background: rgba(200, 200, 200, 0.2);
      }
    }

      .validBtn {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        color: white;
        &:hover {
          background: #000;
        }
      }
  }

  &__content{
    overflow-x: hidden;
    height: 100%;
    padding: 20px;
  section{
    border-bottom: 1px solid rgb(235, 235, 235);
    &:last-child{
      border-bottom: none;
    }
  }
  }
}

profil{
  &__main{

  }
}

.closeBtn{
  cursor: pointer;
  background: none;
  padding: 4px;
}

.closeBtn:hover{
  border-radius: 70%;
  background: rgba(200,200,200,0.2);
}